{% extends 'base.html' %}
{% load static from staticfiles%}


{% block content %}


        <section class="section" id="get_in_touch">

            <div class="container">
                <div class="section_heading">
                    <h1>get in touch</h1>
                    <h2>Reach out for a new project or just
                        say hello
                    </h2>
                </div>
                <div class="content">
                    <div class="contact_me">

                        <form method="post" id="get_in_touch_form">
                            {% csrf_token %}
                            <h3>Send me a message</h3>
                            {{ form.as_p }}
                            {% comment %} <input type="text" required name="sender_name" placeholder="Your Name" id="sender_name">
                            <input type="text" required name="sender_name" placeholder="Your Email" id="sender_email">
                            <input type="text" required name="sender_name" placeholder="Subject" id="subject">
                            <textarea required name="sender_name" rows="10" placeholder="Your Message"
                                id="sender_message"></textarea> {% endcomment %}
                            <div class="button" id="submit_form"><a>Send</a></div>
                        </form>

                        <div class="contact_info">
                            <h3>contact info</h3>

                            <p>Email Me</p>
                            <ul>
                                <li>partyskytime@gmail.com</li>
                                <li></li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </section>

{% endblock content %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/styles/css/home_page.min.css' %}">
{% endblock styles %}