// COLORS

$primaryTextColor: #fff;

$primaryBGColor: #282C2F;
$secondaryBGColor: #202125;
$thirdBGColor: #323639;
$accentColor: #E22A50;
$lightGray: #8A8A8A;
$green: #42A44B;

// END COLORS

$default-font: "Open Sans",
sans-serif;
$lato: "Lato",
sans-serif;
$montserrat: "Montserrat",
"Lato",
sans-serif;