@import "./common_styles"

.categories ul
    margin: 0


.container .button_wrapper.button_wrapper
	margin: 35px 0
	display: flex
	justify-content: center
	position: relative

	.left
		position: absolute
		left: 0
	.right
		position: absolute
		right: 0

section
	.img_container
		overflow: hidden
		margin-top: 20px
		height: 500px
		position: relative

	img
		width: 70%
		margin: 0 auto
		left: 50%
		transform: translateX(-50%)
		bottom: 0
		position: absolute
		z-index: 1
		display: block
		height: 100%
		object-fit: cover

.bg
	width: 100%
	z-index: 0
	filter: blur(8px)
	opacity: 0.2
	transform: scale(1.2), translateX(0)

// About

.skills
	user-select: none
	opacity: 1
	display: flex
	justify-content: space-around
	flex-wrap: wrap

	.skills_item
		margin-top: 30px
		width: 300px
		border-radius: 10px
		padding: 18px 40px
		background-color: white
		color: #000

		h3
			font-size: 30px
			text-align: center
			font-weight: 300
			margin: 0
			letter-spacing: 3px

		p
			color: $accentColor

@media screen and (max-width: 400px)
	.img_container.img_container
		height: 150px !important

	.carousel .content
		height: 60vw !important

	.categories li::after
        content: "" !important
	

@media screen and (max-width: 450px)

    header .section_heading .button
        margin-bottom: 15px

    .categories a
        font-size: 10px !important

@media screen and (max-width: 768px)

	.img_container.img_container
		height: 300px

	section img
		width: 100%
		

	.carousel .content
		height: 400px

@media screen and (min-width: 1024px)

    .section_nav .container
        position: relative
        min-height: 25px
        z-index: 0

        ul
            position: absolute
            right: 0