{% extends 'base.html' %}
{% load static %}

{% comment %} {% block meta %}
{% endblock meta %} {% endcomment %}

{% block fixed_nav %}

        <div class="nav_wrapper">
            <div class="fixed_nav">
                <div class="anim_inner outher_container">
                    <a href="{% url 'home_page' %}">

                        <div class="logo">

                            <img class="lazyload"
                                src="data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7"
                                data-src="{% static 'base/images/Logo.png' %}" alt="vidzhel_logo">
                            <span class="logo_text">Vidzhel</span>

                        </div>
                    </a>
                    <nav class="main_nav">
                        <ul class="list_container">
                            <li id="menu" class="menu_icon"><i class="fas fa-bars fa-lg"></i></li>
                            <div class="list">
                                <ul>
                                    <li class="active"><a href="{% url 'home_page' %}">HOME</a></li>
                                    <li><a href="{% url 'projects_list' %}">PORTFOLIO</a></li>
                                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                                    <li><a class="smooth_scroll" data-anchor="get_in_touch"
                                            data-duration="2000">CONTACT</a></li>
                                </ul>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
{% endblock fixed_nav %}

{% block content %}

    <header>
        <div class="outher_container">
            <div class="social_media">
                <a target="_blank" href="https://github.com/Vidzhel" class="hoverable"><i
                        class="fab fa-github-square fa-lg"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/vidzhel/" class="hoverable"><i
                        class="fab fa-linkedin fa-lg"></i></a>
                <a target="_blank" href="https://www.pinterest.com/Vidzhel" class="hoverable"><i
                        class="fab fa-pinterest-square fa-lg"></i></a>
            </div>

            <div class="header_content">

                <h1>HELLO, I'M OLEG</h1>
                <p>A Creative Developer From Ukraine</p>
                <div class="button"><a href="{% url 'projects_list' %}">See my works</a></div>
                <div class="button"><a data-duration="2000" class="smooth_scroll" data-anchor="get_in_touch">GEt in
                        touch</a></div>
                <div class="button"><a href="#">Download CV</a></div>


            </div>

            <div class="scroll smooth_scroll" data-anchor="scroll_down" data-duration="1000">
                <i class="fas fa-chevron-down fa-lg"></i>
                <span>Scroll down</span>
            </div>
        </div>
    </header>

    <section id="scroll_down" class="section fade_in ">

        <div class="container">
            <div class="section_heading">
                <h1>Recent works</h1>
                <h2>I love what i do, check out some of my latest works</h2>
            </div>

            <div class="content">
                <div class="projects">
                    {% for project in projects %}
                    
                    <div class="project_item {% if project.in_progress %} in_progress {% endif %}">
                        <div class="read_more">
                            <div class="button"><a href="{% url 'home_page' %}">Read more</a></div>
                        </div>
                        <img class="lazyload"
                            src="data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7"
                            data-src="/media/{{project.img}}" alt="project_image">
                        <div class="project_item_content">
                            <div class="title">{{project.title}}</div>
                            <div class="summary">{{project.about}}</div>
                            <div class="bottom_line">
                                <div class="left">
                                    <div class="project_tags">
                                        {% for tag in project.tags.all  %}
                                            <div class="tag"><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="{{project.code_source}}" class="hoverable"><i class="fab fa-github-square fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <div class="section_button">
                    <div class="button "><a href="{% url 'projects_list' %}">see more</a></div>
                </div>
            
            
            </div>

        </div>

    </section>

    {% if developer_skills or designer_skills %}
        <div class="parallax-window" id="skills" data-z-index="1" data-speed="0.2" data-parallax="scroll"
            data-image-src="{% static 'base/images/forest.jpg' %}">

            <section class="section">

                <div class="container">
                    <div class="section_heading">
                        <h1>skills</h1>
                        <h2>Skill and confidence are an
                            unconquered army.
                        </h2>
                    </div>
                    <div class="content">
                        <div class="skills">

                            <div class="skills_item">
                                <h3>Developer</h3>

                                {% for skill in developer_skills %}

                                    <p>{{skill.title|safe}}</p>
                                    <ul>
                                        {% for item in skill.items %}
                                            {% if item %}
                                            <li>{{item|safe}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    
                                {% endfor %}

                            </div>

                            <div class="skills_item">
                                <h3>Designer</h3>
                                
                                {% for skill in designer_skills %}

                                    <p>{{skill.title}}</p>
                                    <ul>
                                        {% for item in skill.items %}
                                            {% if item %}
                                            <li>{{item}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    
                                {% endfor %}


                            </div>

                        </div>

                    </div>

                </div>
            </section>
        </div>
    {% endif %}

    {% if about %}
        <section class="section fade_in">

            <div class="container">
                <div class="section_heading">
                    <h1>about me</h1>
                    <h2>To shine your brightest light is to be who you truly are. </h2>
                </div>
                <div class="content">
                    <div class="about">
                        {% if about_img %}
                        <div class="img"><img src="/media/{{about_img}}" alt="me"></div>
                        {% endif %}

                        <div class="text text_container">
                            {{about|safe}}
                            <div class="button_wrapper">
                                <div class="button"><a href="{% url 'about' %}">read more</a></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>
    {% endif %}


    <div class="parallax-window" data-z-index="1" data-speed="0.2" data-parallax="scroll"
        data-image-src="{% static 'base/images/lake.jpg' %}">

        <section class="section" id="get_in_touch" name="get_in_touch">

                    <div class="container">
                        <div class="section_heading">
                            <h1>get in touch</h1>
                            <h2>Reach out for a new project or just
                                say hello
                            </h2>
                        </div>
                        <div class="content">
                            <div class="contact_me">

                                <form method="post" id="get_in_touch_form">
                                    {% csrf_token %}
                                    <h3>Send me a message</h3>
                                    {{ form.as_p }}
                                    <div class="button" id="submit_form"><a>Send</a></div>
                                    <div id="success"></div>
                                </form>

                                <div class="contact_info">
                                    <h3>contact info</h3>

                                    <p>Email Me</p>
                                    <ul>
                                        <li>partyskytime@gmail.com</li>
                                        <li></li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

        </section>
    </div>

{% endblock content %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/styles/css/home_page.min.css' %}">
{% endblock styles %}
